services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://user:password@postgres:5432/stockdb?schema=public"
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      sh -c "cd ../../packages/database && bunx prisma migrate deploy && bun run prisma/seed.ts &&
             cd ../../apps/backend && bun run dev"

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "3001:3001"
    environment:
      NEXT_PUBLIC_API_URL: "http://localhost:3000"
    depends_on:
      - backend

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: stockdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d stockdb"]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  postgres_data:
