@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-stock-1: #e8e1de;
  --color-stock-2: #978e8b;
  --color-stock-3: #a99d9866;
  --color-stock-4: #857570;
  --color-stock-5: #635955;
  --color-stock-6: #4f4c4b;
  --color-stock-7: #311208;

  --color-stock-bg: #F5F5F7;
  --color-stock-blue-1: #263B91;
  --color-stock-blue-2: #1E2F73;
  --color-stock-blue-light: #DBEAFE;
  --color-stock-green-1: #7CC934;
  --color-stock-green-2: #4C7A20;
  --color-stock-green-3: #395C18;
  --color-stock-green-light: #5A9126;
  --color-stock-red-light: #FEF2F2;

  --color-stock-red-1: #913e25;
  --color-stock-red-2: #81280b;
  --color-stock-red-3: #611B04;

  --font-lato: "Lato", sans-serif;
  --font-averia: "Averia Libre", system-ui;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
